@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


/*.body_main {
	background-color: #f7f7f7;
	color:#0f141e ;
	font-size: 20px;
	font-weight: normal;
	font-family: 'Roboto', sans-serif;
	margin-top: 0px
}*/

.soc {
	color:black;
	text-decoration: none;
}

.soc:hover {
	text-decoration: underline;
}

.maxik {
	min-width: 250px;
	max-height: 270px;
	width: 22%;
	border-radius: 28px;
	box-shadow: 4px 4px 14px rgba(0,0,0,0.25);
}

.info p {
	color:#86898f;
	margin: 0;
}
.info-text h1 {
	margin-bottom: 8px;
}
.info {
	margin-bottom: 40px;
	margin-top: 40px;
	display: flex;
	position: relative;
	animation-name: infoq;
	animation-duration: 1.5s;
}
.info-text {
	margin-left: 3%;
}
.info-text h4 {
	margin-bottom: 10px;
}
.social {
	font-size: 25px;
}
.social h3 {
	margin: 0;
}
.info1 {
	margin-bottom: 20px;
}

@keyframes infoq {
	from {top: -150px;
		opacity: 0;}
	to {top:0;
		opacity: 1}
}
@keyframes greenq {
	0% {top: -60px;
		opacity: 0;}
	60% {top: -60px;
		opacity: 0;}
	100% {top:0;
		opacity: 1}
}

@keyframes redq {
	0% {top: -60px;
		opacity: 0;}
	40% {top: -60px;
		opacity: 0;}
	100% {top:0;
		opacity: 1}
}
@keyframes contactq {
	0% {top: -60px;
		opacity: 0;}
	60% {top: -60px;
		opacity: 0;}
	100% {top:0;
		opacity: 1}
}
.container {
	max-width: 1210px;
	min-width: 580px;
	margin: auto;
	padding-top: 0;
	padding-bottom: 100px;
	padding-left: 20px;
	padding-right:20px;
}

.bg-red {
	position: relative;
	background: #ffe5e5;
	margin-bottom: 20px;
	animation-name: redq;
	animation-duration: 2s;
}


.bg-green {
	position: relative;
	background: #e5ffe7;
	margin-bottom: 40px;
	animation-name: greenq;
	animation-duration: 2.5s;
}

.bg-green h2,
.bg-red h2{
	margin-top: 10px;
	margin-bottom: 10px;
}
.card {
	padding: 15px 40px;
	border-radius: 20px;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.20);
}
.list {
	padding: 0px 20px;	
	margin-top: 0;
}
.contact h2{
	text-align: center;
}
.contact {
	position: relative;
	animation-name: contactq;
	animation-duration: 3.5s;
}
.menu{
	max-width: 1080px;
	width: 100%;
	margin-left: 3%; 
	margin-right: 5%;
}
.menu:before {
	content: "";
	display: block;
	height: 80px;
	width: 160%;
	background:#111111;
	position: absolute;
	left:0;
	z-index: -1;
}
.menu-ul {
	margin:0;
	padding: 0;
	list-style: none;
	height: 80px;
	display: flex;
	justify-content: space-between;
}

.menu-ul a,
.menu-ul button{
	color:white;
	display: block;
	height: 80px;
	padding: 0 30px;
	text-decoration: none;
	line-height: 80px;
	transition-duration: 0.3s;
	font-size: 24px;
}
.menu-ul a:hover,
.menu-ul button:hover{
	background: white;
	color: black;
}
.menu-ul button {
	border: none;
	background: transparent;
	font-family: inherit;

}
.form-group label{
	display: block;
	font-size: 20px;
}
.form-group input,
.form-group textarea{
	width:100%;
	box-sizing: border-box;
	border: none;
	border-bottom: 1px solid #ccc;
	color: #000;
	padding: 15px 0 10px;
	outline: none;
	font-family: inherit;
	background: transparent;
	font-size: 20px;
}
.row {
	display: flex;
	margin-bottom: 20px;
}
.row > .form-group {
	width: 50%;
}
.row > .form-group:first-child {
	margin-right: 20px;
}

.btn {
	background: black;
	padding: 15px 20px;
	color: white;
	border: none;
	font-family: inherit;
	cursor: pointer;
	width: 100%; 
	font-size: 20px;
	box-shadow:0 5px 0px #292929;
	position: relative;
	display:inline-block;
	transition-duration: 0.5s;
	
}

.btn:hover {
	opacity: 0.9;
	box-shadow:0 0px 0px #292929;
	margin-top: 5px;
}

.transition-fade {
	transition:0.4s;
	opacity: 1;
}
html.is-animating .transition-fade{
	opacity: 0;
}





















*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,ol,li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,h2,h3,h4,h5,h6 {
	font-weight: inherit;
	font-size: inherit;
}
.body_parallax {
	height: 100%;	
	line-height: 1;
	font-size: 16px;
	background-color: #0b1d26;
	color:white;
	font-family: "PT Sans";
}
.wrapper {
	min-height: 100%;
}
._container {
	max-width: 1000px;
	margin: 0px auto;
	padding: 50px 20px;
}
.parallax{
	min-height: 100vh;

}
.parallax__body{
	position: fixed;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
}
.parallax__container{
	text-transform: uppercase;
	position: relative;
	z-index: 2;
}
.parallax__label {
	color:#fbd784;
	display: flex;
	font-size: 18px;
	letter-spacing: 6px;
	margin: 0 0 30px 0;
	align-items: center;
}
.parallax__label:before{
	flex:0 0 70px;
	content: "";
	margin: 0px 30px 0px 0px;
	background-color: #fbd784;
	height: 1px;
}
.parallax__title{
	font-size: 88px;
}

.parallax__images {
	position: absolute;
	width: 120%;
	height: 120%;
	top:-10%;
	left:-10%;
	z-index: 1;

}
.images-parallax__item{
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;
	left:0;

}
.images-parallax__clouds,
.images-parallax__mountains,
.images-parallax__human{
	position: absolute;
	width: 100%;
	height: 100%;
	left:0;
}
.images-parallax__clouds{
	background: url("clouds.jpg") top / cover no-repeat;
	top:0;
}
.images-parallax__mountains{
	background: url("mountains.png") top / cover no-repeat;
	top:15%;
	z-index: 2;
}
.images-parallax__human{
	background: url("human.png") top / cover no-repeat;
	top:45%;
	z-index: 3;
}
@media (max-aspect-ratio: 3/2) {
	.images-parallax__human {
		background-position: 20% top;
	}
}
.content {
	background-color: #0b1d26;
	position: relative;
	z-index: 2;
}
.content:before {
	pointer-events: none;
	content: "";
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height: 250px;
	transform: translate(0px, -100%);
	background: linear-gradient(180deg, rgba(11, 29, 38, 0), #0b1d26);
}
.content__title {
	font-size: 35px;
	margin:0 0 30px 0;
}
.content__text {
	font-size: 16px;
	line-height: 150%;
}
.content__text p {
	margin: 0px 0px 30px 0px;
}
@media (max-width: 767px) {
	.parallax__title {font-size: 50px;}
	.parallax__label {
		font-size: 16px;
		margin: 0px 0px 15px 0px;
	}
}
@media (max-width: 479px) {
	.parallax__title {font-size: 36px;}
	.parallax__label:before {
		flex:0px 0px 50px;
		margin: 0px 10px 0px 0px;
	}
}
